/******************************
TITLE: CUSTOM CSS STYLES
AUTHOR: PAUL GUETAN
VERSION 1.0.4
LAST UPDATED: 12-03-20
*******************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

a {
    transition: all ease .3s;
}

a:hover {
    opacity: .6;
    text-decoration: none;
}

p.social-footer a {
    display:inline-block;
    border:solid 3px;
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size:26px;
    line-height: 1.8;
}

[data-title='heading-700'] b{
	font-weight:700;
}
[data-title='heading-600'] b{
	font-weight:600;
}
[data-title='heading-500'] b{
	font-weight:500;
}

[data-title='gradient-orange'] a{
  background: rgb(255,140,63) !important;
  background: -moz-linear-gradient(90deg, rgba(255,140,63,1) 0%, rgba(255,102,0,1) 43%, rgba(208,83,0,1) 100%) !important;
  background: -webkit-linear-gradient(90deg, rgba(255,140,63,1) 0%, rgba(255,102,0,1) 43%, rgba(208,83,0,1) 100%) !important;
  background: linear-gradient(90deg, rgba(255,140,63,1) 0%, rgba(255,102,0,1) 43%, rgba(208,83,0,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c3f',endColorstr='#d05300',GradientType=1) !important;
}

[data-title='gradient-black'] {
  background: rgb(0,0,0) !important;
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 100%) !important;
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 100%) !important;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#292929',GradientType=1) !important;
}

[data-title='bordered-left-right'] {
	border-left:solid 2px #333;
  	border-right:solid 2px #333;
}

/******** BULLET LIST ITEM START **********/

[data-title='bullet-list-check'] li > i::before {
    font-size:30px;
    position: relative;
    top: 10px;
    left: -10px;
}

/******** BULLET LIST ITEM END **********/

/****** TESTIMONIAL WIDGET START *******/

[data-title='testimonial-widget-single'] h3{
    line-height:1.5;
    margin-top: 0;
}

[data-title='testimonial-widget'] {
    background: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 2px #f2f2f2;
    margin-bottom: 20px;
}

[data-title='testimonial-widget'] .elScreenshot_text,
[data-title='testimonial-widget-single'] .elScreenshot_text{
    padding-left: 15px;
}

[data-title='testimonial-widget'] .elFeatureImage img{
    margin-bottom:15px;
}

[data-title='testimonial-widget'] h3{
    line-height:1.5;
    margin-top: 0;
    color: #555;
}

[data-title='testimonial-widget'] div > b{
    color:#3366d1;
}

[data-title='testimonial-widget'] .ne > div{
    color:#ababab;
    font-size: 1.2rem
}

/****** TESTIMONIAL WIDGET END *******/

/*** CUSTOM ORDER FORM STYLE START ***/

[data-title = 'order-form'] label {
  display:none;
}

[data-title = 'order-form'] input,
[data-title = 'order-form'] select {
  border: solid 2px #dbdbdb;
  box-shadow: none !important;
}

.elOrder2Step {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

p.formInstructionNote {
  display: none;
}

.order2Step-step.order2StepActive 
.order2StepTitle {
  color:#333;
}

.elS1ShippingWrap {
  margin-top:40px;
}

.elS1Shipping {
  color: #999;
}

.order2StepProgress {
  background-color: #1660c8;
}

.order2Step25:before, 
.order2Step75:before {
  color: #1660c8;
}

.order2stepbutton {
  padding-top: 15px;
}

/*** CUSTOM ORDER FORM STYLE END ***/

/****** ORDER CONFIRMATION WIDGET START *******/

[data-title='order-confirmation'] a{
    margin-top:10px;
    display: block;
    opacity:.5;
    transition: all ease .3s;
}

[data-title='order-confirmation'] a:hover{
    opacity:1;
}


/****** ORDER CONFIRMATION WIDGET END *******/
